$width_header_link: 100px;

.devlog-content {
  // min-height: calc(100vh - 300px);
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 110px;
}

.center-on-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.devlog-card {
  width: 50%;
  padding: 10px;
  margin: auto;
}

.books-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.books-library {
  display: inline-flex;
}

.book-card {
  margin: 20px;
  width: 150px;
  height: 250px;
}
